{
    "printWidth": 120,
    "singleQuote": true,
    "tabWidth": 4,
    "endOfLine": "crlf",
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}