body {
    margin: 0;
}

#toggle-button {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    width: 150px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #fff467;
    color: #eee;
    border-radius: 8px;
    cursor: pointer;
    z-index: 11;
    margin: 40px;
    transition: all 0.3s;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#toggle-button:hover {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #fff467;
    color: #333;
}

#mocha {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    z-index: 0;
}

@font-face {
    font-family: HuaKangXinZongYi;
    src: url('http://seerh5.61.com/resource/font/hkxzy.ttf');
}

@font-face {
    font-family: MFShangHei;
    src: url('http://seerh5.61.com/resource/font/MFShangHei_Noncommercial-Regular.otf');
}

@font-face {
    font-family: REEJI;
    src: url('http://seerh5.61.com/resource/font/REEJI_Honghuangli.TTF');
}
