html,
body {
    background: #ffffff;
    padding: 0;
    border: 0;
    margin: 0;
    height: 100%;
}

.logo {
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    color: #fff;
}

.bg-black {
    background: #000;
}

.bg-white {
    background: #fff;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: HuaKangXinZongYi;
    src: url('http://seerh5.61.com/resource/font/hkxzy.ttf');
}

@font-face {
    font-family: MFShangHei;
    src: url('http://seerh5.61.com/resource/font/MFShangHei_Noncommercial-Regular.otf');
}

@font-face {
    font-family: REEJI;
    src: url('http://seerh5.61.com/resource/font/REEJI_Honghuangli.TTF');
}
